@model HackSolutions.Models.TestObj;
@{ ViewData["Title"] = "Test"; }

<h2>Test</h2>
<form asp-action="Test" asp-controller="Home" method="post" id="myform">
    <div class="row">
        <div class="col-xs-2" style="width:5em;">
            <input asp-for="@Model.str1" class="form-control small_inp_box" />
        </div>
    </div>
    <div style="clear:both; margin-top:1em;"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="clear:both; margin-top:1em;">
        <label id="lbl_msg1"></label>
    </div>
    <input type="submit" name="Submit" class="btn btn-outline-dark" />
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#lbl_msg1").text("Ready");
            $(".small_inp_box:first").focus();
        });
        $(".small_inp_box").focusout(function () {
            var fv = $('#myform').validate();
            if (!$(this).valid()) {
                $(this).addClass("red");
                console.log("invalid!");
                
            }
            else {
                $(this).removeClass("red");
                console.log("valid!");
            }
        })
    </script>
}

